@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&family=Poppins&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
* > *{
    font-family: 'Poppins', sans-serif;
   
}
body{
    background: #dcdce6;
    background-image: url('./assets/Background.png');
}
/**sidebar**/
/** le * pour les margin des page qui contien le sidebar , on s'ajoute quand on on modifier les routes
*{
    margin:0;
    padding:0;
    text-decoration: none;
} **/
.container{
    display: flex;
   
}
main{
    width: 100%;
    padding: 0px;
}
.sidebar{
    background: #000;
    color: #fff;
    height:100vh;
    width: 200px;
    transition: all 0.5s;
}
.top-section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left:50px ;
}
.link{
    display: flex;
    color:#fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background-color: #fff;
    color:#000;
    transition:all 0.5s;
}
.active{
    background-color: #fff;
    color:#000
}
.icon, .link_text{
    font-size: 20px;
}
.logout{
    margin-top: 400px;
}