@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&family=Poppins&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
* > *{
    font-family: 'Poppins', sans-serif;
   
}
body{
    background: #dcdce6;
    background-image: url('./assets/Background.png');
}
/**sidebar**/
/** le * pour les margin des page qui contien le sidebar , on s'ajoute quand on on modifier les routes
*{
    margin:0;
    padding:0;
    text-decoration: none;
} **/
.container{
    display: flex;
   
}
main{
    width: 100%;
    padding: 0px;
}
.sidebar{
    background: #000;
    color: #fff;
    height:100vh;
    width: 200px;
    transition: all 0.5s;
}
.top-section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left:50px ;
}
.link{
    display: flex;
    color:#fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background-color: #fff;
    color:#000;
    transition:all 0.5s;
}
.active{
    background-color: #fff;
    color:#000
}
.icon, .link_text{
    font-size: 20px;
}
.logout{
    margin-top: 400px;
}
/**offer**/
/**header**/
.cards{
    background-color: #fff;
    border-radius: 25px;
    margin: 16px;
    height: 80vh;
    padding-top: 2px;
overflow-y: scroll;
}
.hide{
    background-color: #fff;
    border-radius: 25px;
    margin: 16px;
    height: 8vh;
    padding-top: 2px;
    position: relative;
    border-collapse: collapse;
}
.text{
  margin: 12px;
}
.imgHed{

    height: 40px;
    width: 60px;
    margin-bottom: 10%;
}
.pro{
    display: flex;
  justify-content: stretch;
}
.hid{
   display: flex;
  justify-content:  space-between;
 

}
.position{
    padding-right: 70px;
    padding-top: 9px;
    padding-bottom: 16px;
}
.badges{
    background-color: red;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    padding-left: 9px;
}
/**card publication**/
.pub{
    border: 2px solid wheat;
    margin: 12px;
    /*border-radius: 20px;*/
    padding: 12px;
    box-shadow: 10px 5px 5px gainsboro;

}
.pub:hover{
    background-color: #dcdce6;
    border-left:5px solid green;
    border-top:1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.bold{
    font-size: large;
    font-weight: bold;
}
.ajou{
    margin-right: 70px;
    margin-top: 16px;
    background-color: green;
    color: white;
    border-radius: 20px;
    padding: 6px;
   
}
.filter{
    display: flex;
    justify-content: space-between;
}
.secondary{
    background-color: green;
    color:white;
border-radius: 10px;
position: 12px;

}
.type{
    background-color: grey;
    color:white;
border-radius: 10px;
padding-left: 12px; 
}
.btn1{
    background-color: green;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin: 6px;
}
.btn2{
    background-color: rgb(225, 0, 255);
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin: 6px;
}
.groupbtn{
    display: flex;
    justify-content: flex-end;
    margin-right: 4%;
   margin-bottom: 4%;
}
.imgpub{

    height: 40px;
    width: 60px;
}
.forms-control{
    display: flex;
    justify-content: flex-end;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 0px;
    width: 20%;
    margin-left: 21px;
    margin-top: 18px;
    margin-bottom: 18px;
   

}
.imputsearch{ outline: 0!important;
    border: 2px solid white;
}

.cardpub{
    display: flex;
    justify-content: space-between;

}
/** detail**/
.border-left{
    margin-top: 50px;
    border-right: 2px solid black;
   
    
}
.marg{
    margin-right: 180px;
    margin-left: 150px;
    font-size: large;
    font-weight: bold;
}

.colors{
    color: blue;
}
.colors:hover{
    color: red;
}
.detail{
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
}
/**---------**/
.step-item {
    @apply relative flex flex-col justify-center items-center w-36;
  }
  .step-item:not(:first-child):before {
    @apply content-[''] bg-slate-200 absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-2/4;
  }
  .step {
    @apply w-10 h-10 flex items-center justify-center z-10 relative bg-slate-700 rounded-full font-semibold text-white;
  }
  .active .step {
    @apply bg-sky-600;
  }
  .complete .step {
    @apply bg-green-600;
  }
  .complete p {
    @apply text-white;
  }
  .complete:not(:first-child):before,
  .active:not(:first-child):before {
    @apply bg-green-600;
  }
  /**...........**/
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  
.circle {
    width: 49px;
    height: 49px;
    line-height: 45px;
    background-color: green;
    color: white;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  
  .stepWrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .stepBlock .circleWrapper {
    padding: 0px 20px;
    position: relative;
  }
  
  .selected .circle {
    color: black;
    background-color: white;
    border-color: green;
  }
  
  .stepBlock:not(:last-child) > .circleWrapper::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color: rgb(128, 0, 2);
    margin: auto;
    z-index: -1;
  }
  
  .stepBlock:not(:last-child) > .circleWrapper::after {
    height: 3px;
  }
  
  .stepBlock:not(:last-child).selected > .circleWrapper::after, .stepBlock:not(:last-child).selected ~ .stepBlock:not(:last-child) > .circleWrapper::after {
    height: 2px;
    opacity: 0.6;
  }
  

  
  .primaryButton:disabled {
    opacity: 0.5;
  }
  /**formulaire**/
  .borderformul{
    margin-left: 15%;
    margin-right: 15%;
    border: 2px solid rgb(8, 146, 4);
    height: 50vh;
  }
 .form-control{
    border: 2px solid black;
    width: 75%;
    padding: 20px;
    border-radius: 12px;
 }